  <!-- LOAD SITE SCRIPTS -->
  {% if site.scripts %}{% for script in site.scripts %}<script src="{% if page.title != 'Home' %}../{% endif %}js/{{ script }}.js"></script>
  {% endfor %}{% endif %}
  <!-- LOAD INIT SCRIPT -->
  {% if page.title != 'Login' %}<script src="{% if page.title != 'Home' %}../{% endif %}js/init.js"></script>{% endif %}
  <!-- LOAD PAGE SCRIPTS -->
  {% if page.scripts %}{% for script in page.scripts %}<script src="{% if page.title != 'Home' %}../{% endif %}js/{{ script }}.js"></script>
  {% endfor %}{% endif %}
</body>
</html>
