<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>{{ site.title }} - {{ page.title }}</title>
  <!-- LOAD SITE STYLES -->
  {% if site.styles %}{% for style in site.styles %}<link rel="stylesheet" href="{% if page.title != 'Home' %}../{% endif %}css/{{ style }}.css">
  {% endfor %}{% endif %}
  <!-- LOAD PAGE STYLES -->
  {% if page.styles %}{% for style in page.styles %}<link rel="stylesheet" href="{% if page.title != 'Home' %}../{% endif %}css/{{ style }}.css">
  {% endfor %}{% endif %}
</head>
<body>
